@import url('https://fonts.googleapis.com/css2?family=Indie+Flower&display=swap');

nav {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    background-color: #214c10;
    position: fixed;
    top: 0;
    width: 100%;
    height: 9vh;
    margin: 0 10%;
  }

  .links {
    text-decoration: none;
    color: white;
    padding: 0 5px;
    border-right: 1px solid white;
  }

  .links:last-child {
    border: none;
  }

  nav > div {
    color: white;
    font-family: 'Indie Flower', cursive;
    font-size: 25px;
  }