@import url('https://fonts.googleapis.com/css2?family=Indie+Flower&display=swap');

nav {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    background-color: #d8d8d8f2;
    position: fixed;
    top: 0;
    width: 100%;
    height: 9vh;
  }

  .links {
    text-decoration: none;
    color: white;
    border-right: 1px solid white;
    font-weight: bolder;
    /* Effects Styling */
    box-shadow: inset 0 0 0 0 #54b3d6;
    color: #54b3d6;
    margin: 0 -.25rem;
    padding: 0 1.25rem;
    transition: color .3s ease-in-out, box-shadow .3s ease-in-out;
  }

  .links:hover {
    box-shadow: inset 200px 0 0 0 #54b3d6;
    color: white;
  }

  .links:last-child {
    border: none;
  }

  nav > div {
    color: white;
    font-family: 'Indie Flower', cursive;
    font-size: 40px;
    font-weight: bolder;
    padding-left: 1%
  }